# Logs
frontend/switchController/logs
frontend/switchController/*.log
frontend/switchController/npm-debug.log*
frontend/switchController/yarn-debug.log*
frontend/switchController/yarn-error.log*
frontend/switchController/pnpm-debug.log*
frontend/switchController/lerna-debug.log*

frontend/switchController/node_modules
frontend/switchController/dist
frontend/switchController/dist-ssr
frontend/switchController/*.local

# Editor directories and files
frontend/switchController/.vscode/*
frontend/switchController/!.vscode/extensions.json
frontend/switchController/.idea
frontend/switchController/.DS_Store
frontend/switchController/*.suo
frontend/switchController/*.ntvs*
frontend/switchController/*.njsproj
frontend/switchController/*.sln
frontend/switchController/*.sw?
